
@{
    ViewData["Title"] = "Login";
}
@model UserLoginViewModel
<h1>Login</h1>

<form asp-action="Login" method="post">
    <input asp-for="Email" placeholder="Email"/>
    <input asp-for="Password" placeholder="Password"/>
</form>